<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="sade" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="sade" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="sade" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="sade" class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SADE</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="components/angularjs-slider/dist/rzslider.min.css">
  <link rel="stylesheet" href="main.css">

  <script src="components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body ng-controller="LayoutCtrl">

  <!--Header-->
  <ng-include ng-if="!$User.me()" src="'views/layout/header.html'"></ng-include>
  <ng-include ng-if="$User.me()" src="'views/layout/header-user.html'"></ng-include>

  <!--Wrapper-->
  <div class="wrapper">
    <!--Main-->
    <div ng-view></div>
    <!--Footer-->
    <ng-include src="'views/layout/footer.html'"></ng-include>
  </div>

  <!--Plugins-->
  <script src="components/jquery/dist/jquery.min.js"></script>
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!--AngularJS-->
  <script src="components/angular/angular.min.js"></script>
  <script src="components/angular-route/angular-route.min.js"></script>
  <script src="components/ngstorage/ngStorage.min.js"></script>
  <script src="components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
  <script src="components/angularjs-slider/dist/rzslider.min.js"></script>

  <!--Main-->
  <script src="app.js"></script>

  <!--Services-->
  <script src="services/rest.js"></script>
  <script src="services/user.js"></script>
  <!--<script src="services/list.js"></script>-->

  <!--Controllers-->
  <script src="views/layout/layout.js"></script>
  <script src="views/layout/header.js"></script>
  <script src="views/home/home.js"></script>
  <script src="views/signup/signup.js"></script>
  <script src="views/login/login.js"></script>
  <script src="views/list/list.js"></script>

</body>

</html>
