<div class="container">

  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12 text-center">
        <img class="center-block img-responsive logo" src="./assets/img/conpec.png" alt="Conpec"/>
        <h1>Bem vindo ao SADE</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8">
        <p class="lead">O SADE (Sistema de Acompanhamento de Desenvolvedores Externos). É o banco de desenvolvedores da
          Conpec. Por meio dele selecionamos desenvolvedores para nossos projetos.</p>
        <p class="lead">Deseja desenvolver pela Conpec e não possui conta? É fácil!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a class="btn btn-lg btn-primary" href="#!/cadastro">Cadastre seu Currículo</a>
      </div>
    </div>

  </div>

</div>