<div class="container">

    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <h1>Bem vindo ao SADE</h1>

                <p class="lead">O SADE (Sistema de Acompanhamento de Desenvolvedores Externos). É o banco de
                    desenvolvedores da
                    Conpec. Por meio
                    dele selecionamos desenvolvedores para nossos projetos.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <p class="">Deseja desenvolver pela Conpec e não possui conta? É fácil!</p>
                <p><a class="btn btn-lg btn-success" href="#!/cadastro">Cadastre seu
                    currículo</a></p>
            </div>
        </div>

    </div>

</div>