<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderCtrl">

  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sade-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/">SADE</a>
    </div>

    <div class="collapse navbar-collapse" id="sade-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/perfil">Perfil</a></li>
        <li><a href="#!/lista">Lista</a></li>
        <li>
          <a href="javascript:void(0);" ng-show="!loading" ng-click="logout()">Sair</a>
          <i class="fa fa-spin fa-circle-o-notch" ng-show="loading" style="line-height: 48px;"></i>
        </li>
      </ul>
    </div>
  </div>

</nav>