$color-white: #FFF;
$color-grey-lighter: #FAFAFA;
$color-grey-light: #CCCCCC;
$color-grey: #999999;
$color-grey-dark: #666666;
$color-grey-darker: #333333;

$color-brand-primary: #E8781A;
$color-brand-secondary: #191718;

$color-success: #8DC63F;
$color-warning: #F2C94E;
$color-danger: #F24E4E;