$font-family-text-default: "Open Sans", Helvetica, Arial, sans-serif;

$font-size-default: 14px;

$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-default: 400;
$font-weight-bold:    600;
$font-weight-bolder:  700;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 15px;
}
