<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12">

      <br>

      <h2 class="text-center">Lista de Usuários</h2>

      <p ng-show="!loading && !users.length" id="empty" class="text-center">Não foram encontrados desenvolvedores</p>

      <p ng-if="loading" class="text-center">
        <i class="fa fa-spin fa-circle-o-notch"></i>
      </p>

      <p class="text-center">
        <label for="name">Nome:</label>
        <input style="min-height: 34px; padding: 4px 6px" name="name" type="text" id="name" ng-model="input.name" ng-disabled="loading">
        <a class="btn btn-primary" href="" ng-click="search(input.name)" id="search">Buscar</a>
      </p>

      <div ng-if="message.length" class="alert alert-danger" role="alert" id="message" ng-bind="message"></div>

      <table class="table table-striped" ng-if="users.length">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>CPF</th>
          <th>RG</th>
          <th>Telefone</th>
          <th>Disponível</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
          <td ng-bind="user.id" class="table-id"></td>
          <td ng-bind="user.name" class="table-name"></td>
          <td ng-bind="user.mail" class="table-mail"></td>
          <td ng-bind="user.cpf" class="table-cpf"></td>
          <td ng-bind="user.rg" class="table-rg"></td>
          <td ng-bind="user.phone" class="table-phone"></td>
          <td ng-bind="user.available" class="table-available"></td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>