<div class="container signup-form">
    <div class="row">
        <div class="col-xs-12" style="padding-top: 40px;">

            <div class="jumbotron-container">
                <div class="jumbotron">
                    <h3 ng-bind="user_data.name"></h3>
                    <p ng-bind="user_data.mail"></p>
                    <p ng-bind="user_data.cpf"></p>
                </div>
            </div>

            <div class="panel-body">
                <div class="">
                    <ul class="nav nav-tabs">
                        <li ng-class="{ 'active' : isProfileTab() }"><a href="#" onclick="return false;"
                                                                         ng-click="showProfileTab()">Dados pessoais</a>
                        </li>
                        <li ng-class="{ 'active' : isSkillsTab() }"><a href="#" onclick="return false;"
                                                                        ng-click="showSkillsTab()">Habilidades</a>
                        </li>
                    </ul>
                </div>

                <form role="form" name="form" class="form-profile form-horizontal" novalidate>
                    <fieldset>
                        <div ng-class="{ 'hide' : !isProfileTab() }">
                            <div class="row">
                                <div ng-class="{ 'has-error' : ((form.rg.$touched || saveAttemp) && form.rg.$invalid) }"
                                     class="control-group col-xs-12 col-sm-6">
                                    <label class="control-label" for="rg">Número do RG</label>
                                    <div class="controls">
                                        <input id="rg" name="rg" type="text"
                                               ng-model="input.rg" placeholder="Número do RG"
                                               class="form-control required" ng-disabled="!isEditMode()" required>
                                        <span class="label label-danger"
                                              ng-show="(form.rg.$touched || saveAttemp) && form.rg.$invalid">RG é obrigatório.</span>
                                    </div>
                                </div>

                                <div ng-class="{ 'has-error' : ((form.phone.$touched || saveAttemp) && form.phone.$invalid) }"
                                     class="control-group col-xs-12 col-sm-6">
                                    <label class="control-label" for="phone">Telefone</label>
                                    <div class="controls">
                                        <input id="phone" name="phone" type="text"
                                               ng-model="input.phone" placeholder="Telefone"
                                               class="form-control required" ng-disabled="!isEditMode()" required>
                                        <span class="label label-danger"
                                              ng-show="(form.phone.$touched || saveAttemp) && form.phone.$invalid">Telefone é obrigatório.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div ng-class="{ 'has-error' : ((form.curriculum.$touched || saveAttemp) && form.curriculum.$invalid) }"
                                     class="control-group col-xs-12 col-sm-12">
                                    <label class="control-label" for="curriculum">Link para download do
                                        currículo</label>
                                    <div class="controls">
                                        <input id="curriculum" name="curriculum" type="text"
                                               ng-model="input.curriculum"
                                               placeholder="Link para download do currículo"
                                               class="form-control required" ng-disabled="!isEditMode()" required>
                                        <span class="label label-danger"
                                              ng-show="(form.curriculum.$touched || saveAttemp) && form.curriculum.$invalid">Link é obrigatório.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-class="{ 'has-error' : ((form.institution.$touched || saveAttemp) && form.institution.$invalid) }"
                                     class="control-group col-xs-12 col-sm-6">
                                    <label class="control-label" for="institution">Instituição</label>
                                    <div class="controls">
                                        <input id="institution" name="institution" type="text"
                                               ng-model="input.institution"
                                               placeholder="Instituição"
                                               class="form-control required" ng-disabled="!isEditMode()" required>
                                        <span class="label label-danger"
                                              ng-show="(form.institution.$touched || saveAttemp) && form.institution.$invalid">Instituição é obrigatório.</span>
                                    </div>
                                </div>

                                <div ng-class="{ 'has-error' : ((form.course.$touched || saveAttemp) && form.course.$invalid) }"
                                     class="control-group col-xs-12 col-sm-6">
                                    <label class="control-label" for="course">Curso</label>
                                    <div class="controls">
                                        <input id="course" name="course" type="text"
                                               ng-model="input.course" placeholder="Curso"
                                               class="form-control required" ng-disabled="!isEditMode()" required>
                                        <span class="label label-danger"
                                              ng-show="(form.course.$touched || saveAttemp) && form.course.$invalid">Curso é obrigatório.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div ng-class="{ 'has-error' : ((form.address.$touched || saveAttemp) && form.address.$invalid) }"
                                     class="control-group col-xs-12">
                                    <label class="control-label" for="address">Endereço</label>
                                    <div class="controls">
                                        <input id="address" name="address" type="text"
                                               ng-model="input.address" placeholder="UF - Cidade, Rua, Número, Complemento"
                                               class="form-control required" ng-disabled="!isEditMode()" required>
                                        <span class="label label-danger"
                                              ng-show="(form.address.$touched || saveAttemp) && form.address.$invalid">Endereço é obrigatório.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-class="{ 'has-error' : ((form.howMet.$touched || saveAttemp) && form.howMet.$invalid) }"
                                     class="control-group col-xs-12">
                                    <label class="control-label" for="howMet">Como conheceu o SADE</label>
                                    <div class="controls">
                                    <textarea id="howMet" name="howMet" maxlength="300" rows="3"
                                              ng-model="input.howMet"
                                              placeholder="Descreva como conheceu o SADE"
                                              class="form-control required" ng-disabled="!isEditMode()"
                                              required></textarea>
                                        <span class="label label-danger"
                                              ng-show="(form.howMet.$touched || saveAttemp) && form.howMet.$invalid">Como conheceu o SADE é obrigatório.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div
                                        class="control-group col-xs-12 col-sm-6" ng-if="isEditMode()">
                                    <label class="control-label" for="password">Senha</label>
                                    <div class="controls">
                                        <input id="password" name="password" type="password"
                                               ng-model="input.password" placeholder="Deixar em branco para não alterar"
                                               class="form-control">
                                    </div>
                                </div>

                                <div ng-class="{ 'has-error' : (saveAttemp || form.password2.$touched) && form.password2.$invalid }"
                                     class="control-group col-xs-12 col-sm-6" ng-if="isEditMode()">
                                    <label class="control-label" for="password2">Confirmação de senha</label>
                                    <div class="controls">
                                        <input id="password2" name="password2" type="password"
                                               ng-model="input.password2"
                                               placeholder="Deixar em branco para não alterar"
                                               class="form-control"
                                               ui-validate="'match($value, input.password)'" ui-validate-watch="'input.password'">
                                        <span class="label label-danger"
                                              ng-show="(saveAttemp || form.password2.$touched) && form.password2.$invalid">As senhas não são iguais.</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div ng-class="{ 'hide' : !isSkillsTab() }" class="skills-container">
                            <div class="price-box">

                                <div class="form-pricing form-horizontal" ng-repeat="skill in skills">
                                    <div class="price-slider">
                                        <h4 class="great">{{skill.name}} ({{skill.value}})</h4>

                                        <rzslider rz-slider-model="skill.value" rz-slider-options="slider.options"
                                                  ng-disabled="!isEditMode()"></rzslider>

                                    </div>

                                </div>
                                <div class="block-box" ng-if="!isEditMode()"></div>
                            </div>

                        </div>

                        <div ng-if="message.length" class="alert alert-danger" role="alert" id="error"
                             ng-bind="message"></div>

                        <div class="row" style="padding-top: 20px">
                            <div class="control-group text-center">
                                <button id="edit" name="edit" class="btn btn-default"
                                        ng-if="!isEditMode()" ng-click="setEditMode(true)"
                                        ng-show="!loading">
                                    Editar
                                </button>
                                <button id="cancel" name="cancel" class="btn btn-default"
                                        ng-if="isEditMode()" ng-click="setEditMode(false); reset" ng-show="!loading">
                                    Cancelar
                                </button>
                                <button id="update" name="update" class="btn btn-primary"
                                        ng-if="isEditMode()" ng-click="do_update(input)" ng-show="!loading">
                                    Salvar
                                </button>
                                <i class="fa fa-spin fa-circle-o-notch" ng-show="loading"></i>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>

        </div>

    </div>

</div>
